* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}
main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
svg {
    height: 80vh;
}
.svg-image-container {
    border: 1pt solid black;
}
.menu-container {
    border: 10pt solid dodgerblue;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 5pt solid hotpink;
}
.video-link {
    margin: 2rem;
    font-family: cursive;
    border: 2pt solid lime;
}
.recipe-section {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2pt solid orange;
}
.recipe {
    margin: 0.5rem;
    
}







.cut {
    cursor: pointer;
}
.cut:hover {
    opacity: 0.5;
}